<a href="https://colab.research.google.com/github/seth-gauri17/python-basics/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1  Write a code to create a string with your name and print it?

name = "Gauri Seth"
print (name)

Output : Gauri Seth

In [ ]:
#2  Write a code to find the length of the string "Hello World"
  str = "Hello world"
  print (len(str))

  Output : 11

In [ ]:
#3  Write a code to slice the first 3 characters from the string "Python Programming"?

text = "Python Programming"
sliced = text[: 3]
print (sliced)

Output : Pyt

In [ ]:
#4  Write a code to convert the string "hello" to uppercase?

text = "hello"
uppercase_text = text.upper()
print (uppercase_text)

Output : HELLO

In [ ]:
#5  Write a code to replace the word "apple" with "orange" in the string "I like apple"?

str = "I like an apple"
replace_str = str.replace("apple", "orange")
print(replace_str)

Output : I like an orange

In [ ]:
#6  Write a code to create a list with numbers 1 to 5 and print it?

num = [1, 2, 3, 4, 5]
print (num)

Output : [1, 2, 3, 4, 5]

In [ ]:
#7  Write a code to append the number 10 to the list [1, 2, 3, 4]?

num = [1, 2, 3, 4]
num.append (10)
print (num)

Output : [1, 2, 3, 4, 10]

In [ ]:
#8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

num = [1, 2, 3, 4, 5]
num.remove (3)
print (num)

Output : [1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print (second_element)

Output : b

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]?

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print (numbers)

Output : [50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.?

my_tup = (100, 200, 300)
print (my_tup)

Output : (100, 200, 300)

In [ ]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

colours = ('red', 'green', 'blue', 'yellow')
second_last = colours[-2]
print (second_last)

Output : blue

In [ ]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

numbers = (10, 20, 5, 15)
min_value = min(numbers)
print(min_value)

Output : 5

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').


animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

Output : 1

In [ ]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.?

fruits = ("apple", "banana", "kiwi", "orange")
if "kiwi" in fruits:
    print ("kiwi is in the tuple")
else:
    print ("kiwi is not in the tuple")

Output : kiwi is in the tuple

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.?

set = {'a', 'b', 'c'}
print (set)

Output : {'a', 'c', 'b'}

In [ ]:
#17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.?

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print (numbers)

Output : set()

In [ ]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}?

numbers = {1, 2, 3, 4}
numbers.remove(4)
print (numbers

Output : {1, 2, 3}

In [ ]:
#19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.?

num1= {1, 2, 3}
num2 = {3, 4, 5}

union_num = num1.union(num2)
print (union_num)

Output : {1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

num1= {1, 2, 3}
num2 = {3, 4, 5}

intersection_num = num1.intersection(num2)
print (intersection_num)

Output : {3}

In [ ]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name" : "Gauri",
    "age" : "36",
    "city" : "Pune"
}

print (person)

Output : {'name': 'Gauri', 'age': '36', 'city': 'Pune'}

In [ ]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {
    "name" : "John",
    "age" : "25"
}
person["country"] = "USA"

print (person)

Output : {'name': 'John', 'age': '25', 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.?

person = {
    "name" : "Alice",
    "age" : "30"
}
name_value = person["name"]

print (name_value)

Output : Alice

In [ ]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {
    "name" : "Bob",
    "age" : "22",
    "city" : "New York"
}
del person["age"]

print (person)

Output : {'name': 'Bob', 'city': 'New York'}

In [ ]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {
    "name": "Alice",
    "city": "Paris"
}

if "city" in person:
    print('The key "city" exists in the dictionary.')
else:
    print('The key "city" does not exist in the dictionary.')

Output : The key "city" exists in the dictionary.

In [ ]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'orange', 'mango')
my_dict = {'name' : 'Alice', 'age' : '30', 'city' : 'Paris'}

print ("List", my_list)
print ("Tuple", my_tuple)
print ("Dictionary", my_dict)

Output : List [1, 2, 3, 4, 5]
         Tuple ('apple', 'banana', 'orange', 'mango')
         Dictionary {'name': 'Alice', 'age': '30', 'city': 'Paris'}

In [ ]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)?

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

Output : [12, 27, 45, 78, 91]

In [ ]:
#28  Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "strawbery"]
print (my_list[3])


Output : date

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result.

dict1 = {'name' : 'Alice', 'age' : '30'}
dict2 = {'city' : 'USA', 'proffesion' : 'Engineer'}

combined_dict = {**dict1, **dict2}

print (combined_dict)


Output : {'name': 'Alice', 'age': '30', 'city': 'USA', 'proffesion': 'Engineer'}

In [ ]:
#30 Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print (string_set)

Output : {'banana', 'cherry', 'apple'}